@media only screen and (max-width: 900px) {
  #nav_horz {
    display: none;
  }
  #bars {
    display: unset;
  }
}
@media only screen and (min-width: 900px) {
  #mob_menu {
    display: none;
  }
}
@media only screen and (min-width: 680px) {
  nav #munna,
  #vlog {
    font-size: 26px;
  }
}
@media only screen and (min-width: 600px) {
  #slider_frame {
    max-width: 60%;
  }
}
